@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    
}
:root{
    --weareimgL: 66.7%;
}
/* html{
    scrollbar-width: none;
} */
body
{
    min-height: 100vh;
    
    /* background: linear-gradient(#ff0000,#000000); */
    overflow-x: hidden;
    -ms-overflow-style: none;
    
}
body::-webkit-scrollbar{
    display: none;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 170%;
    padding: 0.2vw 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background-color: #ffffffdf;

}



header .logo
{
    color: #000000;
    z-index: 100;
}
#pagelogo
{
    
    height: 5vw;  
    margin-left: -10em; 
    z-index: 100;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60vw;
}
header ul li
{
    list-style: none;
    margin-left: 1vw;
}
header ul li a
{
    text-decoration: none;
    padding: 0.30em 0.75em;
    color: #000000;
    border-radius: 2em;
    font-size: 1.2vw;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    white-space: nowrap;
    
    
}
header ul li a:hover,
header ul li a.active
{
    background: #b3b3b3;
    color: #000000;
    
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 10vw;
    padding-top: 0.5em;
    z-index: 1;
    /*transform: translateY(10px);*/
}
.dropdown-content a {
    color: black;
    padding: 0.6em 0.8em;
    margin-top: 0.4em;
    text-decoration: none;
    display: block;
    border-radius: 20px;
    background: #b3b3b3;
    font-size: 1.2vw;
    font-weight: normal;
} 
.dropdown-content a:hover {
    background-color: #2f2f2f;
    color: white;
}
  
.dropdown:hover .dropdown-content {display: block;}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.pageimg{
    width: 100vw;
    height: 32vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-mask-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));
    mask-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));
    
}
.pageheader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -7vw;
    color: black;
    text-align: center;
    font-size: 10vw;
    font-family: "Montserrat", sans-serif;
    z-index: 100;
    white-space: nowrap;
}


/* About Page */


.abouttext {
    position: relative;
    margin-top: 35vw;
    padding-left: 15vw;
    padding-right: 15vw;
}

#img1 {
    float: left;
    padding-right: 2vw;
    width: 25vw;
    height: auto;
    
}

#img2 {
    float: right;
    padding-left: 2vw;
    width: 26vw;
    height: auto;
    
}

#img3 {
    float: left;
    padding-right: 2vw;
    width: 23vw;
    height: auto;
    
}

#img4 {
    float: right;
    padding-left: 2vw;
    width: 25vw;
    height: auto;
    
}

#img5 {
    float: left;
    padding-right: 2vw;
    width: 25vw;
    height: auto;
    
}


.abouttext h1.rightheader {
    font-size: 3vw;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    margin-bottom: 1vw;
    background-color: #dadada;
    padding-top: 1vw;
    padding-bottom: 1vw;
    letter-spacing: 0.1vw;
    box-shadow: 0.2vw 0.2vw #adadad;
    
}

.abouttext h1.leftheader {
    font-size: 3vw;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    margin-bottom: 1vw;
    background-color: #dadada;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    letter-spacing: 0.1vw;
    box-shadow: -0.2vw 0.2vw #adadad;
    white-space: nowrap;
    
}

.abouttext p {
    text-align: justify;
    max-width: 90vw;
    letter-spacing: 0.05vw;
    font-weight: lighter;
}


/* Forms Pages */


.contactinput{

    position: relative;
    margin-top: 35vw;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-bottom: 25vw;
    
}

.joininput{

    position: relative;
    margin-top: 35vw;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-bottom: 10vw;
    
}

.smallinput {

    width: 70vw; 
    padding: 12px; 

    border: 1px solid #ffffff; /* Gray border */
    background: #F1F1F1;
    border-radius: 0.5vw; 
    box-sizing: border-box; 
    margin-top: 0.7vw; 

    resize: vertical; 
    word-break: break-word;
    white-space: normal;
}



.biginput {
    width: 70vw;
    padding: 12px;
    padding-bottom: 8vw;
    border: 1px solid #ffffff; /* Gray border */ 
    background: #F1F1F1;
    border-radius: 0.5vw; 
    box-sizing: border-box; 
    margin-top: 0.7vw; 
    resize: vertical; 
    word-break: break-word;
    white-space: normal;
}
  
.submitbtn{
    background-color: #5d5d5d;
    width: 70vw;
    color: white;
    padding: 12px 20px;
    margin-top: 0.7vw; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submitbtn:hover {
    background-color: #2f2f2f;
}


/* Calendar Page */


.calendar {
    position: relative;
    margin-top: 35vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 10vw;
}


/* Robots Page */


.robot-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;

    position: relative;
    margin-top: 35vw;
    padding-left: 15vw;
    padding-right: 15vw;
}

.robot-list .card {
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 10px 5px #b2bec3;
    text-align: center;
    font-family: "Poppins";
}

.robot-list .card:hover {
    box-shadow: 0px 10px 5px #636e72;
}

.card-image img{
    width: 15vw;
    height: auto;
    border: 1px solid #000000;
    border-radius: 0.3em;
}
.card-button{
    padding: 1em;
}

.card-button a{
    text-decoration: none;
    padding: 0.4em;
    border-radius: 0.7em;
    background: #989898;
    color: #000000;
    font-size: 1em;
    border: none;
}

.card-button a:hover{
    background: #767676;
}

.card-text {
    color: black;
}

/* Footer */

footer {
    position: relative;    
    margin-top: -5vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer img {
    width: 2vw;
    height: auto;
    margin-right: 3vw;
    margin-left: 3vw;
    margin-bottom: 1vw;
}

footer img:hover {
    -webkit-mask-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));
    mask-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));
}

.footeremail { 
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    text-align: center;
    padding-bottom: 2vw;
    text-decoration: none;
    color: #000000;
}

.footeremail:hover {
    color: rgb(150, 0, 0);
}