.sponsor-header h1 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 72px;
}

.sponsor-header p {
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 18px;
  width: 90%;
  text-align: justify;
  text-justify: inter-word;
}

.sponsor-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 350px;
}
